<ion-view>
  <ion-nav-title><i class="icon ion-social-buffer "></i> Papel BI 1</ion-nav-title>
  <ion-nav-buttons side="secondary">
        <button class="button" ng-click="doSomething()">
          Ayuda
        </button>
      </ion-nav-buttons>
  <ion-slides slider="slider" pager>
      <ion-slide-page>
        <ion-content >
          <div class="list">
            <div class="row header">
              <div class="col">Tipo</div>
              <div class="col">Venta</div>
              <div class="col">Meta</div>
              <div class="col">Diff</div>
              <div class="col">KPI</div>
            </div>
            <div class="item">
              <div class="row grid">
                <div class="col">
                  Semanal
                </div>
                <div class="col">
                  {{260}}
                </div>
                <div class="col">
                  {{326}}
                </div>
                <div class="col">
                  {{-20 }}%
                </div>
                <div class="col">
                  {{0.045}}
                </div>
              </div>
            </div>
            <div class="item">
              <div class="row grid">
                <div class="col">
                  Mensual
                </div>
                <div class="col">
                  {{260}}
                </div>
                <div class="col">
                  {{326}}
                </div>
                <div class="col">
                  {{-20 }}%
                </div>
                <div class="col">
                  {{0.045}}
                </div>
              </div>
            </div>
            <div class="item">
              <div class="row grid">
                <div class="col">
                  Anual
                </div>
                <div class="col">
                  {{260}}
                </div>
                <div class="col">
                  {{326}}
                </div>
                <div class="col">
                  {{-20 }}%
                </div>
                <div class="col">
                  {{0.045}}
                </div>
              </div>
            </div>
          </div>
          
          
        </ion-content>
      </ion-slide-page>
      <ion-slide-page>
        <ion-content class="padding">
          
          <ion-item class="item-divider text-center">Margen</ion-item>
          <label class="item item-input item-select">
              <div class="input-label">
                Tipo
              </div>
              <select>
                <option selected>Semanal</option>
                <option>Mensual</option>
                <option>Anual</option>
              </select>
            </label>
          <ion-list>
            <ion-item>
              Venta <span class="badge">{{5670919 | currency}}</span>
            </ion-item>
            <ion-item>
              Costo <span class="badge">{{4411519 | currency}}</span>
            </ion-item>
            <ion-item>
              Util <span class="badge badge-balanced">{{1259400.66 | currency}}</span>
            </ion-item>
            <ion-item>
              KPI <span class="badge badge-balanced">{{.057}}</span>
            </ion-item>
          </ion-list>
          
          
          
        </ion-content>
      </ion-slide-page>
      
      <ion-slide-page>
        <ion-content class="padding">
          <ion-list>
            <ion-item class="item-divider text-center">KPI Semana: 12</ion-item>
            
            <ion-item class="item-icon-right" ui-sref="kpiToneladas">
              Toneladas: <span class="badge badge-energized">2.20</span>  
              <i class="icon ion-ios-arrow-forward"></i>
            </ion-item>
            
            <ion-item class="item-icon-right" ui-sref="kpiMarge">
              Margen: <span class="badge badge-balanced">2.20</span>  
              <i class="icon ion-ios-arrow-forward"></i>
            </ion-item>

            <ion-item class="item-icon-right">
              Precio por kilogramo: NA
              <i class="icon ion-ios-arrow-forward"></i>
            </ion-item>

            <ion-item class="item-icon-right">
              Ticked de venta
              <i class="icon ion-ios-arrow-forward"></i>
            </ion-item>

            <ion-item class="item-icon-right" ui-sref="kpiMarge">
              Inventario: <span class="badge badge-balanced">2.20</span>  
              <i class="icon ion-ios-arrow-forward"></i>
            </ion-item>

            <ion-item class="item-icon-right" ui-sref="kpiMarge">
              Margen: <span class="badge badge-assertive">1.56</span>  
              <i class="icon ion-ios-arrow-forward"></i>
            </ion-item>
          </ion-list>
          
          
          
        </ion-content>
      </ion-slide-page>

    </ion-slides>
  <ion-footer-bar align-title="center" class="bar-dark">
    <div class="buttons">
      <button class="button ">Resumen</button>
    </div>
    <h1 class="title">Resumen</h1>
    <div class="buttons" ng-click="doSomething()">
      <button class="button">Calendario</button>
    </div>
  </ion-footer-bar>
</ion-view>