/* Empty. Add your own CSS if you like */
.item .kpi {
	background-color: transparent;
	font-weight: bold;
	font-size: 15px;
	color: #fff;
	z-index: 1;
	
	vertical-align: baseline;
	background: #666;
	min-width: 10px;
	text-align: center;
	white-space: nowrap;
	padding: 3px 3px 3px 3px;
	line-height: 16px;
	border-radius: 10px;
}
.item .kpi2 {
	background-color: transparent;
  	color: #fff;
  	z-index: 1;
  	display: inline-block;
  	padding: 3px 8px;
  	min-width: 10px;
  	border-radius: 10px;
  	vertical-align: baseline;
  	text-align: center;
  	white-space: nowrap;
  	font-weight: bold;
  	font-size: 14px;
  	line-height: 16px; 

}

.item .kpi.positive {
	background: #66cc33;
}